body {
    background-color: darkblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  .button{
      margin-left: 42.5%;
      margin-right: 42.5%;
      margin-top: 1em;
      width: 15%;
      height: 5em;
      color: black;
      font-size: 20px;
  }
  p {
    font-family: verdana;
    color: white;
    text-align: center;
    font-size: 25px;
  }